// #mapContainer {
//   position: relative;
//   z-index: 1;
// }

#addWrap {
  position: fixed;
  top: 70px;
  left: 15px;
  width: 300px; //150px;
  max-height: 300px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #addWrap {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 300px;
    margin: 0;
  }
}


#addWrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #9e9d9d;
  margin: 3px 0;
}

// .bg_white {
//   background: #fff;
// }

.addOption {
  // background: rgba(255, 255, 255, 0.7);
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addOption hr {
  display: block;
  width: 260px;
  height: 1px;
  border: 0;
  border-top: 2px solid #9e9d9d;
  margin: 3px 0;
}

#addBtn {
  background-color: rgb(233, 124, 56);
}

.addBtn {
  height: 36px;
  width: 250px;
  font-size: large;
  margin: 5px auto; //**
  padding: 0 5px; //**
}

.addBtn {
  background-color: rgb(251, 180, 90);
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  height: 38px;
  box-shadow: none;
  color: white;
}

.addBtn:hover {
  cursor: pointer;
  background-color: rgb(251, 180, 90);
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  // box-shadow: none !important;
  color: white;
  box-shadow: 0 0 2px .07rem #616161; //rgb(251, 180, 90);
}

.disabledBtn {
  background-color: gray;
  border: 1px solid gray;
  color: white;

}

.disabledBtn:hover {
  background-color: gray;
  border: 1px solid gray;
  color: white;
  box-shadow: none;
  cursor: not-allowed;
}

.addLine {
  // height: 20px;
  width: 250px;
  font-size: large;
  margin: 5px auto; //**
  padding: 0 5px; //**
}

.addLine {
  // background-color: #5f523b;
  background-color: #64491a;
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  height: 22px;
  box-shadow: none;
  color: white
}

.submitAddress {
  text-align: center;
  padding: 9px !important;
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  margin: 10px auto;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  padding-left: 7px !important;
  padding-right: 7px !important;
  color: rgb(255, 160, 36);
  font-weight: 600;
}

.deleteBtn:hover {
  box-shadow: 0 0 2px .07rem rgb(251, 180, 90);
}

#stationBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 260px;
  // height: 140px; //510이 최대 165
  max-height: 400px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}