// #mapContainer {
//   position: relative;
//   z-index: 1;
// }

#addWrap {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 300px; //150px;
  max-height: 300px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
  font-size: 12px;
  border-radius: 10px;
}


#addWrap hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #9e9d9d;
  margin: 3px 0;
}

.bg_white {
  background: #fff;
}

.addOption {
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addBtn {
  background-color: rgb(233, 124, 56);
}

.addBtn {
  height: 36px;
  width: 250px;
  font-size: large;
  margin: 5px auto; //**
  padding: 0 5px; //**
}

.addBtn {
  background-color: rgb(251, 180, 90);
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  height: 38px;
  box-shadow: none;
  color: white;
}

.addBtn:hover {
  background-color: rgb(251, 180, 90);
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  // box-shadow: none !important;
  color: white;
  box-shadow: 0 0 2px .07rem #616161; //rgb(251, 180, 90);
}

.submitAddress {
  text-align: center;
  padding: 9px !important;
  border: 1px solid rgb(251, 180, 90);
  border-radius: 15px;
  margin: 10px auto;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteBtn {
  background-color: transparent;
  border: none;
  padding-left: 7px !important;
  padding-right: 7px !important;
  color: rgb(255, 160, 36);
  font-weight: 600;
}

.deleteBtn:hover {
  box-shadow: 0 0 2px .07rem rgb(251, 180, 90);
}

#stationBox {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 260px;
  // height: 140px; //510이 최대 165
  max-height: 400px;
  margin: 10px 0 30px 10px;
  padding: 5px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}